
<header>
<div class="c-header">
<div class="c-header-logo">
<img src="/images/logs-logo.png">
</div>
<div class="c-header-title">
Lumberjack
</div>
</div>
</header>
<section>
<div class="feeddata">
</div>
</section>
<footer>
<div class="c-footer">
<small>&copy; Copyright 2017, Example Corporation</small>
</div>
</footer>
