<script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
     crossorigin="anonymous"></script>
<header>
<div class="c-header">
<div class="c-header-logo">
<img src="/images/logs-logo.png">
</div>
<div class="c-header-title">
Lumberjack
</div>
</div>
</header>
<section>
<div class="feeddata">
</div>
</section>
<footer>
<div class="c-footer">
<small>&copy; Copyright 2017, Example Corporation</small>
</div>
</footer>
