<h1>Swapnesh</h1>

<form action="" class="components">
  <div>
    <label><input type="checkbox" /> Label text</label>
  </div>
  
  <div>
    <label><input type="checkbox" /> Label text</label>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>